.container {
    width: 50%; /* Largeur du conteneur à 50% de l'écran */
    margin: 0 auto; /* Centrer horizontalement */
    text-align: center; /* Centrer le texte */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center; /* Centrer horizontalement les éléments dans la liste */
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .aicenter {
    align-items: center;
  }
  
  .li-pad {
    padding: 0 15px; /* Espacement entre les éléments */
  }
  
  .txt20 {
    font-size: 50px; /* Taille des nombres */
    background: linear-gradient(to bottom, #3498db, #9b59b6); /* Dégradé de couleurs */
    -webkit-background-clip: text;
    color: transparent;
  }